button.toggle-nav {
  width: 2rem;
  span {
    display: flex;
    flex-shrink: initial;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    @include prefixer(transition, transform 0.5s ease-in, webkit o moz);

    nav.show &:first-child {
      @include prefixer(
        transform,
        rotate(-45deg) translate(-5px, 5px),
        webkit o moz
      );
    }
    nav.show &:nth-child(2) {
      opacity: 0;
    }

    nav.show &:last-child {
      @include prefixer(
        transform,
        rotate(45deg) translate(-6px, -6px),
        webkit o moz
      );
    }
  }
}
