button.toggle-nav {
  height: 3rem;
  width: 3rem;
  border: 2px solid #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 0.2rem;
  span {
    display: flex;
    flex-shrink: initial;
    height: 3px;
    background-color: #fff;
    margin: 7px 5px;
    nav.show &:first-child {
      @include prefixer(
        transform,
        rotate(-45deg) translate(-3px, 3px),
        webkit o moz
      );
    }
    nav.show &:nth-child(2) {
      display: none;
    }

    nav.show &:last-child {
      @include prefixer(
        transform,
        rotate(45deg) translate(-4px, -4px),
        webkit o moz
      );
    }
  }
}
