button.toggle-nav {
  height: 2.5rem;
  width: 3rem;
  border: 2px solid #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  span {
    display: flex;
    flex-shrink: initial;
    height: 3px;
    background-color: #fff;
    margin: 5px;
  }
}
