//helper class

.orange-cl {
  color: $orange-cl !important;
}

.orange-bg {
  background-color: $orange-cl !important;
  color:$white-cl;
}

.blue-cl {
  color: $blue-cl !important;
}

.blue-bg {
  background-color: $blue-cl !important;
  color:$white-cl;
}

.blue-border {
  border-color: $blue-cl !important;
}

.gray-bg {
  background-color: $gray-cl !important;
}

//placeholders