$basic-fz: 15px !default;

//colors
$orange-cl: #f27024 !default;
$blue-cl: #00445c !default;
$gray-cl: #efefef !default;
$white-cl: #fff !default;

//font families
$main-ff: "Segoe UI", "Segoe WF", "Segoe Regular" !default;

// Media Queries
$sm-width: 767px;
$sm-screen: (
  min-width: $sm-width,
);
$md-width: 992px;
$md-screen: (
  min-width: $md-width,
);
