section {
  // general section style
  padding: 3rem 1rem;
  .container {
    display: grid;
  }
  &.info {
    .container {
      // for screens wider than mobile
      display: grid;
      grid-gap: 2rem;
      // all divs inside .info section
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        position: relative;
        margin-top: 3rem;
        padding: 4rem 2rem 2rem;
        border-radius: 1rem;
        img {
          max-width: 6rem;
          position: absolute;
          top: -3rem;
          border: 6px solid #efefef;
          border-radius: 1rem;
        }
      }
    }
  }
}
